// two dice
// two shaking cups?
// // Each player positions their four single colored pieces in their respective starting nest,  which move to the colored section to the left of the nest
// gameboard with a track around the outside, four corner spaces and four home paths leading to a central end space. The most popular Parcheesi boards in America have 68 spaces around the edge of the board, 12 of which are darkened safe spaces. Each corner of the board contains one player's nest, or starting area. 
//two dice in center of screen that changes based on the numbers rolled with each turn? turns the color of the player

//TO MAKE GRID

<style>








</style>