/* // two dice
// two shaking cups?
// // Each player positions their four single colored pieces in their respective starting nest,  which move to the colored section to the left of the nest
// gameboard with a track around the outside, four corner spaces and four home paths leading to a central end space. The most popular Parcheesi boards in America have 68 spaces around the edge of the board, 12 of which are darkened safe spaces. Each corner of the board contains one player's nest, or starting area. 
//two dice in center of screen that changes based on the numbers rolled with each turn? turns the color of the player */

#container {
  display: grid;
  grid-template-columns: 310px 55px 67px 55px 310px;
  grid-template-rows: 310px 55px 67px 55px 310px; 
  grid-template-areas:
    "bluenest    bluepath        safetyzone     yellowpath        yellownest"
    ".           bluepad      .              yellowpad    . "
    ".           .            home           .            ."
    ".           dicea            .          diceb            ."
    "rednest     .            .              .            peachnest";
  background-image: url("images/board1.png");
  height: 800px;
  width: 800px;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

#container > #bluenest{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  " a    b    c"
  " .   bluehome    ."
  " .    .    ."
  grid-area: bluenest;
  margin-top: 15px;
  margin-left: 15px;
  /* align-content: center; */
}

#bluehome {
  justify-items: center;
}  

#bluenest > #bluehome{
  /* display: grid;
  grid-area: bluehome; */
  border: 5px solid red;
}

#container > .bluepath{
  grid-area: bluepath;
  margin-top: 15px;
}

#container > .safetyzone{
  grid-area: safetyzone;
  margin-top: 15px;
}

#container > .yellowpath{
  grid-area: yellowpath;
  margin-top: 15px;
}

#container > .yellownest{
  grid-area: yellownest;
  margin-top: 15px;
  margin-right: 15px;
}

#container > .peachnest{
  grid-area: peachnest;
  margin-bottom: 15px;
  margin-right: 15px;
  /* background-color: orange; */
}

#container > .rednest{
  grid-area: rednest;
  margin-bottom: 15px;
  margin-left: 15px;
  /* background-color: black; */
}

#container > .home{
  grid-area: home;
  /* border: 5px solid black; */
}

#container > .yellowpad{
  grid-area: yellowpad;
  /* border: 5px solid black; */
}

#container > .bluepad{
  grid-area: bluepad;
  /* border: 5px solid black; */
}

#container > .dicea{
  display: grid;
  grid-area: dicea;
  /* border: 2em solid red; */
}

#container > .diceb{
  display: grid;
  grid-area: diceb;
  
}

.dicea{
  display: grid;
  grid-area: dicea;
  /* border: 2em solid red; */
  image: url(dice-0.dicelibrary.css));
}

.diceb{
  display: grid;
  grid-area: diceb;
  /* border: 2em solid red; */
}

.dice-empty {
  display: grid;
  grid-area: dicea;
}

.bluenest {
  display: grid;
  grid-area: bluenest;
  /* background-color: purple; */
}

.bluepath {
  display: grid;
  grid-area: bluepath;
  /* background-color: gray; */
  /* border: 5px solid black; */
}

.yellowpath {
  display: grid;
  grid-area: yellowpath;
  /* border: 5px solid black; */
  /* background-color: gray; */
}

.safetyzone {
  display: grid;
  grid-area: safetyzone;
  /* background-color: green; */
}

.yellownest {
  display: grid;
  grid-area: yellownest;
  /* background-color: yellow; */
}

.home {
  display: grid;
  grid-area: home;
  /* background-color: orange; */
}

.rednest {
  display: grid;
  grid-area: redness;
  /* background-color: purple; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
}

.peachnest {
  display: grid;
  grid-area: peachnest;
  /* background-color: yellow; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
}

.bluepad {
  dislay: grid;
  grid-area: bluepad;
  /* background-color: orange; */
}

.yellowpad {
  display: grid;
  grid-area: yellowpad;
  /* background-color: black; */
}

#bp1 {
  display: grid;
  grid-area: bluenest;
}

#bp2 {
  display: grid;
  grid-area: bluenest;
}

#bluehome {
  display: grid;
  grid-area: bluenest;
}
/* 
.yellowpiece {
  display: grid;
  gridarea: home;
} */

/* #div1, #div2, #div3, #div4, #div5, #div6, #divbluepad{
  grid-area: bluepath;
} */
/* .heroimage {
  display: grid;
  background-image: url("images/board1.png");
  background-color: #f1ede2; 
  height: 800px;
  width: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* #div8, #div9, #div10, #div11, #div12, #div13 {
  grid-area: safetyzone;
} */

/* #div14, #div15, #div16, #div17, #div18, #div19, #divyellowpad{
  grid-area: yellowpath;
  border: 2px solid red;
} */

body {
  background-color: #A8A08D;

}

//dice
.wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
}

h1 {
  margin: 20px;
  font-size: 6rem;
  color: black;
}

.dice-area {
  margin: 0px 50px;
  text-align: center;
  display: inline-block;
}

p {
  font: 2.5rem;
  color: black;
}

img {
  width: 320px;
}
/* original attempt at 15x15 grid but css won't go around L-shapes */
/* #container {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 6fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-areas:
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       path           path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"

    "path     path      path    path     path     path        path           .          path      path       path        path       path       path       path"
    "path     redsafety redsafety redsafety redsafety redsafety    .        home         .     yellowsafety yellowsafety yellowsafety yellowsafety yellowsafety path"

    "path     path      path    path     path     path        path              .       path        path       path       path       path       path       path"
    
    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"
    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"
    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"
    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"
    "rednest rednest rednest rednest rednest rednest          path       path            path      peachnest peachnest peachnest peachnest peachnest peachnest"; */