/* // two dice
// two shaking cups?
// // Each player positions their four single colored pieces in their respective starting nest,  which move to the colored section to the left of the nest 
/*/

div {
  text-align: center;
}

p {

}

h1 {
  margin: 20px;
  font-size: 4rem;
  color: black;
  /* text-align: center; */
}
#container {
  display: grid;
  grid-template-columns: 310px 55px 67px 55px 310px;
  grid-template-rows: 310px 55px 67px 55px 310px; 
  grid-template-areas:
    "bluenest    bluepath        safetyzone     yellowpath        yellownest"
    ".           bluepad      .              yellowpad    . "
    ".           .            home           .            ."
    ".           dicea            .          diceb            ."
    "rednest     .            .              .            peachnest";
  background-image: url("images/board1.png");
  height: 800px;
  width: 800px;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

#container > #bluenest{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  " .     ."
  " .     ."
  " .     ."
  grid-area: bluenest;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  /* align-content: center; */
}

#bluehome {
  text-align: center;
}  

#bluenest > #bluehome{
  /* display: grid;
  grid-area: bluehome; */
  border: 5px solid red;
}

#container > .bluepath{
  grid-area: bluepath;
  margin-top: 15px;
}

#container > .safetyzone{
  grid-area: safetyzone;
  margin-top: 15px;
}

#container > .yellowpath{
  grid-area: yellowpath;
  margin-top: 15px;
}

#container > #yellownest{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  " .     ."
  " .     ."
  " .     ."
  grid-area: yellownest;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  /* align-content: center; */
}

#container > .yellownest{
  grid-area: yellownest;
  margin-top: 15px;
  margin-right: 15px;
}

#container > #peachnest{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  " .     ."
  " .     ."
  " .     ."
  grid-area: peachnest;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  /* align-content: center; */
}

#container > .peachnest{
  grid-area: peachnest;
  margin-bottom: 15px;
  margin-right: 15px;
  /* background-color: orange; */
}

#container > .rednest{
  grid-area: rednest;
  margin-bottom: 15px;
  margin-left: 15px;
  /* background-color: black; */
}

#container > #rednest{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  " .     ."
  " .     ."
  " .     ."
  grid-area: rednest;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  /* align-content: center; */
}

#container > .home{
  grid-area: home;
  /* border: 5px solid black; */
}

#container > .yellowpad{
  grid-area: yellowpad;
  /* border: 5px solid black; */
}

#container > .bluepad{
  grid-area: bluepad;
  /* border: 5px solid black; */
}

#container > .dicea{
  display: grid;
  grid-area: dicea;
  /* border: 2em solid red; */
}

#container > .diceb{
  display: grid;
  grid-area: diceb;
  
}

.dicea{
  display: grid;
  grid-area: dicea;
  /* border: 2em solid red; */
  image: url(dice-0.dicelibrary.css));
}

.diceb{
  display: grid;
  grid-area: diceb;
  /* border: 2em solid red; */
}

.dice-empty {
  display: grid;
  grid-area: dicea;
}

.bluenest {
  display: grid;
  grid-area: bluenest;
  /* background-color: purple; */
}

.bluepath {
  display: grid;
  grid-area: bluepath;
  /* background-color: gray; */
  /* border: 5px solid black; */
}

.yellowpath {
  display: grid;
  grid-area: yellowpath;
  /* border: 5px solid black; */
  /* background-color: gray; */
}

.safetyzone {
  display: grid;
  grid-area: safetyzone;
  /* background-color: green; */
}

.yellownest {
  display: grid;
  grid-area: yellownest;
  /* background-color: yellow; */
}

.home {
  display: grid;
  grid-area: home;
  /* background-color: orange; */
}

.rednest {
  display: grid;
  grid-area: redness;
  /* background-color: purple; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
}

.peachnest {
  display: grid;
  grid-area: peachnest;
  /* background-color: yellow; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
}

.bluepad {
  dislay: grid;
  grid-area: bluepad;
  /* background-color: orange; */
}

.yellowpad {
  display: grid;
  grid-area: yellowpad;
  /* background-color: black; */
}

.bluePieces {
  display: grid;
  grid-area: bluenest;
  height: 45px;
}

#bluehome {
  display: grid;
  grid-area: ;
}

/* .heroimage {
  display: grid;
  background-image: url("images/board1.png");
  background-color: #f1ede2; 
  height: 800px;
  width: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

body {
  background-color: #A8A08D;
}

/* //dice */
.wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
  display: inline-block;
}

.dice-area {
  /* text-align: center; */
  /* display: inline-block; */
}

#dicea{
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 55px;
}

p {
  font: 2.5rem;
  color: black;
}

img {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 55px;
  /* border: 2px solid red; */
}

.invisible {
  display: none;
}

.b-piece-area {
  height: 30px;
  text-align: center;
  display: inline-block;
}

.y-piece-area {
  height: 30px;
  text-align: center;
  display: inline-block;
}

.p-piece-area {
  height: 30px;
  text-align: center;
  display: inline-block;
}

.r-piece-area {
  height: 30px;
  text-align: center;
  display: inline-block;
}

.playerPieces {
  height: 45px;
  display: inline-block;
  text-align: center;
}

.yellow { 

}

.blue {

}

.peach {

}

.red {

}

.blue-turn-text{
  color: blue;
  text-align: center;
  display: inline-block;
}

.yellow-turn-text{
  color: grey;
  text-align: center;
  display: inline-block;
}

/* original attempt at 15x15 grid but css won't go around L-shapes */
/* #container {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr 6fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-areas:
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       path           path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"
    "bluenest bluenest bluenest bluenest bluenest bluenest    path       bluesafety     path      yellownest yellownest yellownest yellownest yellownest yellownest"

    "path     path      path    path     path     path        path           .          path      path       path        path       path       path       path"
    "path     redsafety redsafety redsafety redsafety redsafety    .        home         .     yellowsafety yellowsafety yellowsafety yellowsafety yellowsafety path"

    "path     path      path    path     path     path        path              .       path        path       path       path       path       path       path"
    
    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"
    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"
    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"
    "rednest rednest rednest rednest rednest rednest          path       peachsafety     path      peachnest peachnest peachnest peachnest peachnest peachnest"
    "rednest rednest rednest rednest rednest rednest          path       path            path      peachnest peachnest peachnest peachnest peachnest peachnest"; */